body {
    background-color:hsl(31, 46%, 83%);
    
    font-family: 'Bacasime Antique ';
    color:  #b9a6db;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src:  url('./resources/fonts/Caveat/Montserrat.ttf') format('truetype');
  }
  
  p {
    font-size: 30px;
    text-align: center;
  }
  }
  
  .button {
    border-radius: 5px;
    font-family: 'Shantell Sans';
    font-size: 30px;
    background-color: rgb(196, 232, 253); /* Green */
    border: none;
    color: rgb(224, 144, 124);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
  }
  
  .home_button {
    background-color: rgb(203, 178, 231);
    color: #b86c39;
  }
  
  .home_button:hover {
    background-color: #d9c6f3;
    color: hsl(12, 86%, 67%), 100%, 91%);
  }
